*{
    padding:0;
    margin:0;
}
@font-face {
    font-family: 'CustomFont'; /* Name your font family */
    src: url('font/Raleway-Regular.ttf'); /* Locate the .ttf file within your directory*/
}
    
body{  
    background-image: url('assets/16154.jpg');
    font-family: 'CustomFont', raleway-regular; /* Use the font family */
}

/* Navbar styling */
#navbar {
    overflow: hidden;
    background-color: #003B73;
    }

/* Navbar links styling*/
#navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    } 
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* Change the color of links on hover */
.navbar a:hover {
    background-color:#0074B7;
    color: black;
    } 
    
/* Add an active class to highlight the current page */
.navbar a.active {
    background-color: #04AA6D;
    color: white;
    }
/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
    }

    /* Text styling */
.highlight{
    color: rgb(222, 24, 24);
}

/* Sections */
    #home{
        height: 100vh; padding-top: 150px;
    }
    /* Intro section */
    .intro{
        text-align: center;
        font-weight: bolder;
        font-size: 40px;
    }
    .workBtn{
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        }

    #about{
        height: 100vh; padding-top: 20px;
    }
    #work{
        height: 100vh; padding-top: 20px;
    }
    #contact{
        height: 100vh; padding-top: 20px;
    }
    
/* scroll to top button */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 0px; /* Place the button at the bottom of the page */
    right: 0px; /* Place the button TO the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #0074B7; /* Add a color background on hover */
    /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}
#myBtn:hover {
    background-color:#60A3D9; /* Add a color background on hover */
}


/* footer  */
.footer {bottom: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#003B73;
    border-style: solid, 5px;
    border-color:  steelblue;
    color: white;
    text-align:center;
}