*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'CustomFont'; /* Name your font family */
    src: url('font/Raleway-Regular.ttf'); /* Locate the .ttf file within your directory*/
}
html {
    scroll-behavior: smooth;
}    
body{  
    font-family: 'CustomFont', raleway-regular; /* Use the font family */
}
a {
    color: #f2f2f2;
    text-decoration: none;
}
/* Text styling */
.highlight{
color: #df265e;
}
/* Navbar and navbar links styling */
.myNavbar {
    z-index: 9999;
    overflow: hidden;
    background-color:#222233;
    border-bottom: solid 5px  #00b6bc;
}
ul{
    list-style-type: none;
}
.myNavbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    padding-left: 30px;
    text-decoration: none;
    font-size: 15px;
} 
.myNavbar a:hover {
    color: #00b6bc
}
/* #navbar a.active {
    background-color: #222233;
    color: #00b6bc;
} */
/* Hide the link that should open and close the navbar on small screens */
/* .myNavbar .icon {
    display: none;
} */
/* Psuedo selector for when it's not sticky */
/* #navbar:not(.sticky){
    position: absolute;
    bottom: 0px;
} */
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
/* When the screen is less than 480 pixels wide: phone, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
/* @media screen and (max-width: 480px) {
    .myNavbar a:not(:first-child) {display: none;}
    .myNavbar a.icon {
        float: right;
        display: block;
    }
} */
/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
/* @media screen and (max-width: 480px) {
    .myNavbar.responsive {position: relative;}
    .myNavbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .myNavbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
} */



/* Main sections */
/****** HOME SECTION ******/
.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 590px; 
    background-color:#2c2c3d;
    border-bottom: solid 5px  #00b6bc;
    color: #f2f2f2;
    font-size: 45px;
}
.viewMyWorkBtn{
    background-color:#2c2c3d;
    border: solid  #f2f2f2; 
    color: #f2f2f2;
    padding-left: 20px;
    justify-content: center;
    margin-top: 25px;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 20px;
}
.viewMyWorkBtn:hover{
    background-color: #00b6bc;
    color: #f2f2f2;
}

/****** ABOUT SECTION ******/
#about{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    background-color: #ebeff3; 
    border-bottom: solid 5px  #00b6bc; 
}
/* Create two equal columns containing text and slideshow side by side */
.aboutRow {
    display: flex;
    padding-top: 50px;
    /* justify-content: space-evenly; */
    align-content: center;
    height: 590px;
}
.text {
    padding: 10px;
    align-content: center;
    text-align: center;
    max-width: 350px;
    min-width: 350px;
    height: 400px;
    border: solid #222233 3px;
    border-radius: 10px;
}
.aboutColumn1 .aboutColumn2{
    flex: 50%;
}
/* this is the actual container for the slideshow  */
.photosDots {
    max-width: 500px;
    position: relative;
    margin: auto;
}
/* Hide the images by default */
.mySlides {
    display: none;
}
/* Previous & next buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.photo {
    height: 400px;
    width: 350px;
    border: solid #222233 3px;
    border-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Responsive layout - when the screen is less than 480px wide: phone, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) {
    .aboutColumn1 .aboutColumn2 {
        width: 100%;
    }
}


/****** MY WORK SECTION ******/
#work{
    height: auto; 
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
}
/* Container for all projects */
/* Container for flexboxes */
.row {
    display: flex;
    flex-wrap: wrap;
}
  /* Create two equal columns */
.column {
    flex: 50%;
    padding: 20px;
}
  /* On screens that are 767px wide or less: ipad, go from two columns to one columns */
@media screen and (max-width: 767px) {
    .column {
        flex: 100%;
    }
}
  /* On screens that are 480px wide or less: phone, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) {
    .row {
        flex-direction: column;
    }
}

/* container and styling for individual projects */
.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #222233;
    border-style: solid;
    border-color: #222233;
    border-width: 2px;
    border-radius: 15px;
    height: auto;
    width: auto;
    padding: 15px;
    margin-bottom: 10px;
}
.projectTitle {
    font-size: 20px;
    padding-bottom: 10px;
}
.projectSummary {
    font-size: 15px;
}
#myVideo {
    width: 100%;
    height: 400px;
    border: solid black 2px;
    border-radius: 10px;
    margin-bottom: 35px;
}
.viewMoreWorkBtn{
    background-color: #2c2c3d;
    border: solid  #222233; 
    color: #f2f2f2;
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 35px;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 20px;
}
.viewMoreWorkBtn:hover{
    background-color: #00b6bc;
    color: #f2f2f2;
}

/******CONTACT SECTION******which is just the footer */
/* Footer  */
.footer {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px;
    border-top: solid 5px  #00b6bc;
    background-color:#222233;
    color: darkgray;
    font-size: 13px;
}
/* Social icon styling */
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
  /* Add hover effect  */
.fa:hover {
    background-color: #00b6bc;
    color: #f2f2f2;
}
.fa-envelope, .fa-linkedin, .fa-github, .fa-facebook{
    background-color:#2c2c3d;
    color: white; 
}
.fa-angle-double-up{
    background: #df265e;
    color: #f2f2f2;
    font-size: 20px;
}
