*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'CustomFont'; /* Name your font family */
    src: url('font/Raleway-Regular.ttf'); /* Locate the .ttf file within your directory*/
}
html {
    scroll-behavior: smooth;
}    
body{  
    font-family: 'CustomFont', raleway-regular; /* Use the font family */
}
a {
    color: #f2f2f2;
    text-decoration: none;
}
/* Text styling */
.highlight{
    color: #df265e;
    text-shadow: 2px 2px 5px #2c2c3d;
}
/* Navbar and navbar links styling */
.myNavbar {
    z-index: 9999;
    overflow: hidden;
    background-color:#222233;
    border-bottom: solid 5px  #00b6bc;
}
ul{
    list-style-type: none;
}
.myNavbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 15px;
} 
.myNavbar a:hover {
    color: #00b6bc
}
/* Psuedo selector for when it's not sticky */
/* #navbar:not(.sticky){
    position: absolute;
    bottom: -40px;
    width: 100%;
    } */
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Main sections */
/****** HOME SECTION ******/

#home{
    background-image: url("assets/circles.jpg");
}

.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 555px; 
    border-bottom: solid 5px  #00b6bc;
    color: #f2f2f2;
    font-size: 45px;
    font-weight: bold;
}
.viewMyWorkBtn{
    background-color:#2c2c3d;
    border: solid  #f2f2f2; 
    color: #f2f2f2;
    padding-left: 20px;
    justify-content: center;
    margin-top: 25px;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 20px;
}
.viewMyWorkBtn:hover{
    background-color: #00b6bc;
    color: #f2f2f2;
}

/****** ABOUT SECTION ******/
#about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 7%;
    padding-bottom: 5%;
    height: auto;
    border-bottom: solid 5px  #00b6bc; 
}
.text {
    padding: 10px;
    align-content: center;
    text-align: center;
    max-width: 525px;
    min-width: 350px;
    height: 440px;
    border: solid #222233 3px;
    border-radius: 10px;
}
/* this is the container for the slideshow and dots  */
.photosDots {
    max-width: 500px;
    position: relative;
    margin: auto;
}
/* Hide the images by default */
.mySlides {
    display: none;
}
/* Previous & next buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.photo {
    height: 400px;
    width: 350px;
    border: solid #222233 3px;
    border-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Responsive layout - when the screen is less than 480px wide: phone, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) {
    .aboutColumn1 .aboutColumn2 {
        width: 100%;
    }
}


/****** MY WORK SECTION ******/
#work{
    height: auto; 
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
}
#column1 #column2{
    display: flex;
    flex-direction: column;
}
/* container and styling for individual projects */
.projectContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: auto;
    width: auto;
    padding: 15px; 
    margin: 20px;
}
.projectTitle {
    font-size: 20px;
    padding-bottom: 10px;
}
.projectSummary {
    font-size: 15px;
    padding-bottom: 10px;
}
#myVideo {
    width: 100%;
    height: auto;
    border: solid black 2px;
    border-radius: 10px;
    margin-bottom: 35px;
}

/* Links to other pages */
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.viewMoreWorkBtn{
    background-color: #2c2c3d;
    border: solid  #00b6bc; 
    color: #f2f2f2;
    padding-left: 20px;
    margin-top: 25px;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 20px;
}
.viewMoreWorkBtn:hover {
    background-color: #00b6bc;
    border: solid #2c2c3d;
    color: #f2f2f2;
}
.resumeLink{
    background-color: #2c2c3d;
    border: solid  #00b6bc; 
    color: #f2f2f2;
    padding-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 20px;
}
.resumeLink:hover {
    background-color: #00b6bc;
    border: solid #2c2c3d;
    color: #f2f2f2;
}

/******CONTACT SECTION******which is just the footer */
/* Footer  */
.footer {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px;
    border-top: solid 5px  #00b6bc;
    background-color:#222233;
    color: darkgray;
    font-size: 13px;
}
/* Social icon styling */
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
  /* Add hover effect  */
.fa:hover {
    background-color: #00b6bc;
    color: #f2f2f2;
}
.fa-envelope, .fa-linkedin, .fa-github, .fa-facebook{
    background-color:#2c2c3d;
    color: white; 
}
.fa-angle-double-up{
    background: #df265e;
    color: #f2f2f2;
    font-size: 20px;
}

