*{
    padding:0;
    margin:0;
    font-family: cursive;
}
/*main container includes navigation bar with all the boxes of content underneath*/
.main-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}
/*styling of navigation bar*/
.nav-bar{
    background-color: lightgray;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-title{
    color: black;
    font-size: 35px;  
}
.search{
    height: 30px;
    width: 200px;
    background-color: azure;
    border: solid black 3px;
    color: darkgray;
}
.login-button{
    background-color: darkblue;
    color: aliceblue;
    text-align: center;
    border-color: black;
    box-shadow: 5px 5px 5px black;
    padding: 10px 25px; 
    border-style: solid;
    font-weight: bolder;
}
.both-columns{
    display: flex; 
    justify-content: space-between;
}
.column-left{
    display: flex;
    flex-direction: column;
}
.column-right{
    display: flex;
}
/* styling of boxes left column */
.top-box, .bottom-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    width: 350px;
    height: 200px;
    margin-top: 15px;
}
.left-side-top, .left-side-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    line-height: 2;
} 
.right-side-top, .right-side-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
/* styling of like buttons */
.like-button1, .like-button2{
    background-color:darkgreen;
    color: black
    text-align: center;
    border-color: black;
    box-shadow: 5px 5px 5px black;
    padding: 10px 25px; 
    border-style: solid;
    font-weight: bolder;
}
/* styling of text */
.ninjas{
    font-size: 25px;
}
.u-line{
    text-decoration: underline;
    color: darkblue;
}
/* styling of box in right column */
.only-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    width: 250px;
    height: 200px; 
    margin-top: 15px;
}
/* styling of add definition button */
.addDefinition{
    background-color: darkgoldenrod;
    color: black
    text-align: center;
    border-color: black;
    box-shadow: 5px 5px 5px black;
    margin-top: 15px;
    padding: 5px 30px; 
    border-style: solid;
    font-weight: bolder;    
}
